/* src/App.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    min-height: 100vh; /* Зміна тут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0085C7, #F4C300, #009F3D, #DF0024, #EF7C00);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.Paper {
    padding: 1em;
    width: 100%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
}
